<div class="filter-container">
	<div class="filter-wraper">
		<div class="filter-block">
			<div class="filter-block__category filter-select">
				<select type="text" class="filter-select__list">
					<option value="" disabled selected>Оберіть категорію</option>
					<option value="" *ngFor='let category of categorysList' class="filter-select__list-item">{{category}}</option>
				</select>
			</div>
			<div class="filter-block__city filter-select">
				<select type="text" class="filter-select__list">
					<option value="" disabled selected>Оберіть місто</option>
					<option value="" *ngFor='let city of citysList' class="filter-select__list-item">{{city}}</option>
				</select>
			</div>
			<button (click)="onSearch()" class="filter-block__button">Пошук</button>
		</div>
	</div>
</div>