<div class="signup-container">
	<div class="signup-wraper">
		<div class="signup__manual">
			<h2 class="signup__title">Реєстрація</h2>
			<form action="" class="signup-form">
				<input type="text" class="signup-form__input" name="login" placeholder="Email">
				<input type="password" class="signup-form__input" name="password" placeholder="Пароль">
				<input type="password" class="signup-form__input" name="password" placeholder="Пароль зе раз">
			</form>
		</div>
		<span class="signup__or">АБО</span>
		<div class="signup__via-social">
			<span class="signup__via-social--title">Зареєструватися за допомогою акаунту в соціальних мережах</span>
			<button class="social social__vk">Вконтакте</button>
			<button class="social social__facebook">Facebook</button>
			<button class="social social__google">Gmail</button>
		</div>
	</div>
	<div class="signup-footer">
		<button class="signup-footer__button">Зареєструватися</button>
		<div class="signup-navigation">
			<span class="signup-navigation__title">Ви уже зареєстровані ?</span>
			<a href="" class="signup-navigation__item" routerLink="../signin">Увійти на сайт</a>
		</div>
	</div>
</div>