@font-face {
 font-family: 'iconic';
  src: url('assets/font/iconic.eot?33039413');
  src: url('assets/font/iconic.eot?33039413#iefix') format('embedded-opentype'),
       url('assets/font/iconic.woff2?33039413') format('woff2'),
       url('assets/font/iconic.woff?33039413') format('woff'),
       url('assets/font/iconic.ttf?33039413') format('truetype'),
       url('assets/font/iconic.svg?33039413#iconic') format('svg');
  font-weight: normal;
  font-style: normal;
}