@import "../../../global";

.media-list{
	&-container{
		background-color: $mainGrey;
	}
	&-wraper{
		display: flex;
		flex-directiom:row;
		flex-wrap:wrap;
		width:75%;
		margin:0 auto;		
	}
	&-item-wraper{
		position: relative;
		overflow:hidden;
		display: flex;
		justify-content:center;
		align-items:center;
		cursor:pointer;
		&--photo{
			width: 270px;
			height:270px;
			margin:{
				right:25px;
				top:25px;
			}
		}
		&--video{
			width: 360px;
			height:200px;
			margin:{
				right:30px;
				top:30px;
			}
		}
		&:hover .media-list-item__play{
				opacity:1;
				cursor:pointer;
		}
	}
	&-item{
		position:absolute;
		top:-50%;
		left:-50%;
		height:100%;
		width:100%;
		transform: translate(50%,50%);
		object-fit: cover;	
		&__play{
			z-index:2;
			opacity:0.7;

			
		}
	}
}
/* .slider{
	position:absolute;
	width:calc(100%);
	height:calc(100vr);
	background-color: rgba(0,0,0,.5);
	&-visible{
		visibility:visible;
	}
	&-invisible{
		visibility:hidden;
	}
	&__img{
		margin:auto;
	}
} */