<div class="footer-container">
	<div class="footer-wraper">
		<div class="footer-main">
			<div class="footer-soc-icons">
				<span class="footer-soc-icons__facebook"> </span>
				<span class="footer-soc-icons__instagram"> </span>
				<span class="footer-soc-icons__pinterest"> </span>
			</div>
			<nav class="footer-menu">
				<a href="" class="footer-menu__item">Реклама</a>
				<a href="" class="footer-menu__item">Правила</a>
				<a href="" class="footer-menu__item">Написати адміністрації</a>
			</nav>
		</div>
		<div class="footer-lang">
			<a href="" class="footer-lang__item footer-lang__item--ukr">Українська</a>
			<a href="" class="footer-lang__item footer-lang__item--rus">Русский</a>
		</div>
	</div>
</div>
